[Desktop Entry]
Type=Application
Name[ar]=Compiz
Name[bg]=Compiz
Name[bn_IN]=কমপিজ
Name[bn]=কমপিজ
Name[ca]=Compiz
Name[cs]=Compiz
Name[de]=Compiz
Name[el]=Compiz
Name[en_GB]=Compiz
Name[es]=Compiz
Name[eu]=Compiz
Name[fi]=Compiz
Name[fr]=Compiz
Name[gl]=Compiz
Name[gu]=Compiz
Name[he]=קומפיז
Name[hi]=Compiz
Name[hr]=Compiz
Name[hu]=Compiz
Name[it]=Compiz
Name[ja]=Compiz
Name[ko]=컴피즈
Name[nb]=Compiz
Name[nl]=Compiz
Name[or]=କମ୍ପିଜ
Name[pa]=ਕੰਮਪਿਜ਼
Name[pl]=Compiz
Name[pt]=Compiz
Name[pt_BR]=Compiz
Name[ro]=Compiz
Name[ru]=Compiz
Name[sk]=Compiz
Name[sr]=Compiz
Name[sv]=Compiz
Name[tr]=Compiz
Name[uk]=Compiz
Name[zh_CN]=Compiz
Name[zh_TW]=Compiz
Name=Compiz
Exec=compiz ccp
Icon=compiz
NoDisplay=true
X-MATE-WMSettingsModule=compiz
X-MATE-Autostart-Phase=WindowManager
X-MATE-Provides=windowmanager
X-MATE-WMName=compiz
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-WMName=compiz
