[Desktop Entry]
Name[de]=IBus M17n Einstellungen
Name[zh_CN]=IBus M17N 设置
Name[tr]=IBus M17N Kurulumu
Name[uk]=Налаштування M17N IBus
Name[id]=IBus M17N Setup
Name[ja]=IBus M17N の設定
Name[pt_BR]=Configuração do IBus M17N
Name[fr]=Configuration d’IBus M17N
Name[es]=Ajuste IBus M17N
Name[si]=IBus M17N පිහිටුවීම
Name[bn]=আইবাস এম17এন সেটআপ
Name[ar]=إعداد IBus M17N
Name[ka]=IBus M17N -ის მორგება
Name[sv]=Installation av IBus M17N
Name[lt]=IBus M17N sąranka
Name=IBus M17N Setup
Comment[de]=IBus M17N Einstellungen
Comment[zh_CN]=设置 IBus M17N 引擎
Comment[tr]=IBus M17N motorunu kur
Comment[uk]=Налаштувати рушій M17N IBus
Comment[id]=Set up IBus M17N mesin
Comment[ja]=IBus M17n エンジンを設定する
Comment[pt_BR]=Configure o motor IBus M17N
Comment[fr]=Configurer le moteur IBus M17N
Comment[es]=Ajuste motor IBus M17N
Comment[si]=IBus M17N යන්ත්‍රය පිහිටුවන්න
Comment[bn]=আইবাস এম17এন ইঞ্জিন সেট আপ করুন
Comment[ar]=إعداد محرك IBus M17N
Comment[ka]=მოირგეთ IBus M17N ძრავა
Comment[sv]=Ställ in IBus M17N-motor
Comment[lt]=Nustatyti IBus M17N modulį
Comment=Set up IBus M17N engine
Exec=/usr/libexec/ibus-setup-m17n
NoDisplay=true
Type=Application
StartupNotify=true
