[Desktop Entry]
Name[ca]=Ajust Anthy IBus
Name[de]=IBus Anthy Einstellungen
Name[es]=Ajustes de IBus Anthy
Name[fr]=Configuration d’IBus Anthy
Name[hu]=IBus Anthy beállítások
Name[ja]=IBus Anthy の設定
Name[ko]=IBUS Anthy 설정
Name[pt_BR]=Configuração de IBus Anthy
Name[sv]=IBus Anthy inställningar
Name[tr]=IBus Anthy Kurulumu
Name[uk]=Налаштування Anthy IBus
Name=IBus Anthy Setup
Comment[ca]=Prepara el motor Anthy d'IBus
Comment[de]=IBus Anthy Engine konfigurieren
Comment[es]=Configura el motor Anthy de IBus
Comment[fr]=Configuration du moteur IBus Anthy
Comment[hu]=Az IBus Anthy motor beállítása
Comment[ja]=IBus Anthy エンジンの設定
Comment[ko]=IBUS Anthy 엔진 설정
Comment[pt_BR]=Configure o motor de IBus Anthy
Comment[sv]=Ställ in IBus Anthy motor
Comment[tr]=IBus Anthy motorunu kur
Comment[uk]=Налаштування рушія Anthy IBus
Comment=Set up IBus Anthy engine
Exec=/usr/libexec/ibus-setup-anthy
Icon=ibus-anthy
NoDisplay=true
Type=Application
StartupNotify=true
