[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
Exec=kcmshell5 kcm_breezedecoration
Icon=preferences-system-windows
Name=Breeze Window Decoration
Name[ar]=زخرفة نوافذ نسيم
Name[bg]=Декорации на прозорци Breeze
Name[ca@valencia]=Decoració Brisa de les finestres
Name[ca]=Decoració Brisa de les finestres
Name[cs]=Dekorace oken Breeze
Name[de]=Breeze-Fensterdekoration
Name[el]=Breeze διακόσμηση παραθύρου
Name[en_GB]=Breeze Window Decoration
Name[es]=Decoración de ventanas Brisa
Name[eu]=Breeze leihoen apaindura
Name[fi]=Breeze-ikkunakoristelu
Name[fr]=Décoration de fenêtre pour Breeze
Name[gl]=Decoración de xanela de Brisa
Name[ia]=Decoration de fenestra Breeze
Name[id]=Dekorasi Jendela Breeze
Name[it]=Decorazione delle finestre di Brezza
Name[ka]=Breeze -ის ფანჯრის დეკორაცია
Name[ko]=Breeze 창 장식
Name[nl]=Breeze vensterdecoratie
Name[nn]=Breeze-vindaugspynt
Name[pl]=Wygląd okien Bryzy
Name[pt]=Decoração de Janelas Brisa
Name[pt_BR]=Decorações da janela Breeze
Name[ro]=Decorații pentru ferestre Briză
Name[ru]=Оформление окон Breeze
Name[sk]=Dekorácie okien Vánok
Name[sl]=Okraski oken Sapice
Name[sv]=Breeze fönsterdekoration
Name[tr]=Esinti Pencere Dekorasyonu
Name[uk]=Обрамлення вікон Breeze
Name[x-test]=xxBreeze Window Decorationxx
Name[zh_CN]=Breeze 微风窗口装饰
Name[zh_TW]=Breeze 視窗裝飾
