[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
Exec=systemsettings kcm_plasmasearch
Icon=plasma-search
Name=Plasma Search
Name[ar]=بحث بلازما
Name[az]=Plasma axtarışı
Name[be]=Пошук Plasma
Name[bg]=Търсене на Plasma
Name[ca@valencia]=Busca de Plasma
Name[ca]=Cerca del Plasma
Name[cs]=Hledání Plasma
Name[da]=Plasma-søgning
Name[de]=Plasma-Suche
Name[en_GB]=Plasma Search
Name[eo]=Plasma-Serĉo
Name[es]=Búsqueda de Plasma
Name[et]=Plasma otsing
Name[eu]=Plasma bilaketa
Name[fi]=Plasma-haku
Name[fr]=Rechercher Plasma
Name[gl]=Busca de Plasma
Name[hu]=Plasma Search
Name[ia]=Cerca de Plasma
Name[id]=Pencarian Plasma
Name[ie]=Sercha de Plasma
Name[is]=Plasma-leit
Name[it]=Ricerca di Plasma
Name[ja]=Plasma 検索
Name[ka]=Plasma-ის ძებნა
Name[ko]=Plasma 검색
Name[lt]=Plasma paieška
Name[nb]=Plasma-søk
Name[nl]=Plasma zoeken
Name[nn]=Plasma-søk
Name[pa]=ਪਲਾਜ਼ਮਾ ਖੋਜ
Name[pl]=Wyszukiwarka Plazmy
Name[pt]=Pesquisa do Plasma
Name[pt_BR]=Pesquisa do Plasma
Name[ro]=Căutare Plasma
Name[ru]=Поиск Plasma
Name[sk]=Vyhľadávanie Plasma
Name[sl]=Plasma iskanje
Name[sv]=Plasma-sökning
Name[ta]=பிளாஸ்மா தேடல்
Name[tr]=Plasma Arama
Name[uk]=Пошук у Плазмі
Name[vi]=Tìm kiếm Plasma
Name[x-test]=xxPlasma Searchxx
Name[zh_CN]=Plasma 搜索
Name[zh_TW]=Plasma 搜尋
