[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
Exec=kcmshell5 kcm_krunnersettings
Icon=krunner
Name=KRunner Settings
Name[ar]=إعدادات مشغل.ك
Name[az]=KRunner ayarları
Name[be]=Налады KRunner
Name[bg]=Настройки на KRunner
Name[ca@valencia]=Configureu KRunner
Name[ca]=Configuració del KRunner
Name[cs]=Nastavení KRunner
Name[da]=KRunner-indstillinger
Name[de]=KRunner-Einstellungen
Name[en_GB]=KRunner Settings
Name[eo]=KRunner Agordoj
Name[es]=Preferencias de KRunner
Name[et]=KRunneri seadistused
Name[eu]=KRunner-ren ezarpenak
Name[fi]=KRunnerin asetukset
Name[fr]=Configuration de KRunner
Name[ia]=Preferentias de KRunner
Name[id]=Pengaturan KRunner
Name[ie]=Parametres de KRunner
Name[is]=Stillingar KRunner
Name[it]=Impostazioni di KRunner
Name[ja]=KRunner の設定
Name[ka]=KRunner-ის მორგება
Name[ko]=KRunner 설정
Name[lt]=KRunner nuostatos
Name[nl]=Instellingen van KRunner
Name[nn]=KRunner-innstillingar
Name[pa]=ਕੇ-ਰਨਰ ਸੈਟਿੰਗਾਂ
Name[pl]=Ustawienia KRunnera
Name[pt]=Configurações do KRunner
Name[pt_BR]=Configurações do KRunner
Name[ro]=Configurări KRunner
Name[ru]=Параметры KRunner
Name[sk]=KRunner nastavenia
Name[sl]=Nastavitve za KRunner
Name[sv]=Snabbinställningar av Kör program
Name[ta]=கேரன்னர் அமைப்புகள்
Name[tr]=KRunner Ayarları
Name[uk]=Параметри KRunner
Name[vi]=Thiết lập KRunner
Name[x-test]=xxKRunner Settingsxx
Name[zh_CN]=KRunner 设置
Name[zh_TW]=KRunner 設定
