[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
Exec=systemsettings kcm_kwindecoration
Icon=preferences-desktop-theme-windowdecorations
Name=Window Decorations
Name[ar]=زخارف النوافذ
Name[az]=Pəncərə haşiyələri
Name[be]=Аздабленне акон
Name[bg]=Декорации на прозорци
Name[ca@valencia]=Decoració de les finestres
Name[ca]=Decoració de les finestres
Name[cs]=Dekorace oken
Name[de]=Fensterdekoration
Name[en_GB]=Window Decorations
Name[es]=Decoraciones de las ventanas
Name[et]=Akna dekoratsioonid
Name[eu]=Leiho-apaindurak
Name[fi]=Ikkunakoristelu
Name[fr]=Décorations de fenêtres
Name[ia]=Decorationes de fenestra
Name[id]=Dekorasi Jendela
Name[it]=Decorazioni delle finestre
Name[ja]=ウィンドウの装飾
Name[ka]=ფანჯრის დეკორაციები
Name[ko]=창 장식
Name[nl]=Vensterdecoraties
Name[nn]=Vindaugspynt
Name[pl]=Wygląd okien
Name[pt]=Decorações das Janelas
Name[pt_BR]=Decorações da janela
Name[ro]=Decorații fereastră
Name[ru]=Оформление окон
Name[sk]=Dekorácie okien
Name[sl]=Okrasitev oken
Name[sv]=Fönsterdekorationer
Name[ta]=சாளர விளிம்புகள்
Name[tr]=Pencere Dekorasyonları
Name[uk]=Обрамлення вікон
Name[vi]=Trang trí cửa sổ
Name[x-test]=xxWindow Decorationsxx
Name[zh_CN]=窗口装饰元素
Name[zh_TW]=視窗裝飾
