[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
Exec=systemsettings kcm_cddb
Icon=media-optical-audio
Name=CDDB Retrieval
Name[ar]=جلب CDDB
Name[bg]=Изтегляне на данни от CDDB
Name[bs]=Dobavljanje iz CDDB‑a
Name[ca@valencia]=Recuperació CDDB
Name[ca]=Recuperació CDDB
Name[cs]=Získání CDDB
Name[da]=CDDB-hentning
Name[de]=CDDB-Abfrage
Name[el]=Ανάκτηση CDDB
Name[en_GB]=CDDB Retrieval
Name[eo]=CDDB-Aliro
Name[es]=Recuperación de CDDB
Name[et]=CDDB ülekanded
Name[eu]=CDDB berreskuratzea
Name[fi]=CDDB-haku
Name[fr]=Recherche « CDDB »
Name[ga]=Aisghabháil CDDB
Name[gl]=Obtención CDDB
Name[hu]=CDDB letöltés
Name[ia]=Recuperation de CDDB
Name[is]=CDDB-sækni
Name[it]=Recupero CDDB
Name[ja]=CDDB 検索
Name[ka]=CDDB მიღება
Name[kk]=CDDB деректерді алу
Name[km]=កា​រទៅ​យក CDDB
Name[ko]=CDDB 가져오기
Name[lt]=CDDB atsisiuntimas
Name[mr]=CDDB पुन्हा-प्राप्ती
Name[nb]=CDDB-henting
Name[nds]=CDDB-Affraag
Name[nl]=CDDB-informatie
Name[nn]=CDDB-henting
Name[pa]=CDDB ਪ੍ਰਾਪਤੀ
Name[pl]=Pobieranie z CDDB
Name[pt]=Transferência de CDDB
Name[pt_BR]=Recuperação do CDDB
Name[ro]=Preluare CDDB
Name[ru]=Доступ к CDDB
Name[sk]=Informácie z CDDB
Name[sl]=Pridobivanje CDDB
Name[sr@ijekavian]=Добављање из ЦДДБ‑а
Name[sr@ijekavianlatin]=Dobavljanje iz CDDB‑a
Name[sr@latin]=Dobavljanje iz CDDB‑a
Name[sr]=Добављање из ЦДДБ‑а
Name[sv]=Hämta från CDDB
Name[tr]=CDDB Erişimi
Name[uk]=Отримання з CDDB
Name[x-test]=xxCDDB Retrievalxx
Name[zh_CN]=CDDB 数据获取
Name[zh_TW]=CDDB 資訊取得
