[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
Exec=systemsettings kcm_kwin_virtualdesktops
Icon=preferences-desktop-virtual
Name=Virtual Desktops
Name[ar]=أسطح المكتب الافتراضية
Name[az]=Virtual iş masaları
Name[be]=Віртуальныя працоўныя сталы
Name[bg]=Виртуални работни плотове
Name[ca@valencia]=Escriptoris virtuals
Name[ca]=Escriptoris virtuals
Name[cs]=Virtuální plochy
Name[de]=Virtuelle Arbeitsflächen
Name[en_GB]=Virtual Desktops
Name[es]=Escritorios virtuales
Name[et]=Virtuaalsed töölauad
Name[eu]=Alegiazko mahaigaina
Name[fi]=Virtuaalityöpöydät
Name[fr]=Bureaux virtuels
Name[ia]=Scriptorios virtual
Name[id]=Desktop Virtual
Name[it]=Desktop virtuali
Name[ja]=仮想デスクトップ
Name[ka]=ვირტუალური სამუშაო მაგიდები
Name[ko]=가상 바탕 화면
Name[nl]=Virtuele bureaubladen
Name[nn]=Virtuelle skrivebord
Name[pl]=Pulpity wirtualne
Name[pt]=Ecrãs Virtuais
Name[pt_BR]=Áreas de trabalho virtuais
Name[ro]=Birouri virtuale
Name[ru]=Виртуальные рабочие столы
Name[sk]=Virtuálne pracovné plochy
Name[sl]=Navidezna namizja
Name[sv]=Virtuella skrivbord
Name[ta]=மெய்நிகர் பணிமேடைகள்
Name[tr]=Sanal Masaüstleri
Name[uk]=Віртуальні стільниці
Name[vi]=Bàn làm việc ảo
Name[x-test]=xxVirtual Desktopsxx
Name[zh_CN]=虚拟桌面
Name[zh_TW]=虛擬桌面
