[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
Exec=systemsettings kcm_kwinxwayland
Icon=xorg
Name=Legacy X11 App Support
Name[ar]=دعم تطبيقات اكس11 القديمة
Name[be]=Падтрымка састарэлых праграм X11
Name[bg]=Поддръжка на минали версии  X11 приложения
Name[ca@valencia]=Implementació de les aplicacions X11 antigues
Name[ca]=Implementació de les aplicacions X11 antigues
Name[cs]=Podpora starých aplikací X11
Name[de]=Unterstützung für klassische X11-Anwendungen
Name[en_GB]=Legacy X11 App Support
Name[es]=Compatibilidad de aplicaciones X11 heredadas
Name[eu]=X11 ondare aplikazioen euskarria
Name[fi]=Vanhojen X11-sovellusten tuki
Name[fr]=Prise en charge des applications anciennes sous X11
Name[ia]=Legacy X11 App Support (Supporto de App de X11 de Hereditage)
Name[it]=Supporto per le applicazioni X11 originali
Name[ja]=レガシー X11 アプリケーションのサポート
Name[ka]=მოძველებული X11 პროგრამების მხარდაჭერა
Name[ko]=레거시 X11 앱 지원
Name[nl]=Verouderde ondersteuning voor X11 App
Name[nn]=Støtte for eldre X11-program
Name[pl]=Wsparcie starych aplikacji X11
Name[pt]=Suporte para Aplicações de X11 Antigas
Name[ru]=Поддержка устаревших приложений X11
Name[sk]=Podpora zastaraných X11 aplikácií
Name[sl]=Podpora tradicionalnim aplikacijam X11
Name[sv]=Stöd för äldre X11-program
Name[ta]=பழைய X11 செயலிகளுக்கான ஆதரவு
Name[tr]=Eski X11 Uygulamaları Desteği
Name[uk]=Підтримка застарілих програм X11
Name[vi]=Hỗ trợ ứng dụng X11 đời cũ
Name[x-test]=xxLegacy X11 App Supportxx
Name[zh_CN]=旧式 X11 应用程序支持
Name[zh_TW]=舊式 X11 應用程式支援
