[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
Exec=systemsettings kcm_desktoppaths
Icon=system-file-manager
Name=Locations
Name[ar]=الأماكن
Name[az]=Məkanlar
Name[be]=Размяшчэнні
Name[bg]=Местоположения
Name[ca@valencia]=Ubicacions
Name[ca]=Ubicacions
Name[cs]=Umístění
Name[da]=Placeringer
Name[de]=Orte
Name[el]=Τοποθεσίες
Name[en_GB]=Locations
Name[eo]=Lokoj
Name[es]=Ubicaciones
Name[et]=Asukohad
Name[eu]=Kokalekuak
Name[fi]=Sijainnit
Name[fr]=Emplacements
Name[gl]=Lugares
Name[he]=מיקומים 
Name[hu]=Helyek
Name[ia]=Locationes
Name[id]=Lokasi
Name[ie]=Localisationes
Name[is]=Staðsetningar
Name[it]=Posizioni
Name[ja]=場所
Name[ka]=მდებარეობები
Name[ko]=위치
Name[lt]=Vietos
Name[nl]=Locaties
Name[nn]=Adresser
Name[pa]=ਟਿਕਾਣੇ
Name[pl]=Położenia
Name[pt]=Locais
Name[pt_BR]=Localizações
Name[ro]=Amplasări
Name[ru]=Пути
Name[sk]=Miesta
Name[sl]=Mesta
Name[sr@ijekavian]=Локације
Name[sr@ijekavianlatin]=Lokacije
Name[sr@latin]=Lokacije
Name[sr]=Локације
Name[sv]=Platser
Name[ta]=இடங்கள்
Name[tg]=Ҷойгиршавиҳо
Name[tr]=Konumlar
Name[uk]=Місця
Name[vi]=Địa điểm
Name[x-test]=xxLocationsxx
Name[zh_CN]=位置
Name[zh_TW]=位置
