[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
Exec=systemsettings kcm_kwin_effects
Icon=preferences-desktop-effects
Name=Desktop Effects
Name[ar]=تأثيرات سطح المكتب
Name[az]=İş masası effektləri
Name[be]=Эфекты працоўнага стала
Name[bg]=Ефекти на работния плот
Name[ca@valencia]=Efectes de l'escriptori
Name[ca]=Efectes d'escriptori
Name[cs]=Efekty na ploše
Name[de]=Arbeitsflächen-Effekte
Name[en_GB]=Desktop Effects
Name[es]=Efectos del escritorio
Name[et]=Töölauaefektid
Name[eu]=Mahaigaineko efektuak
Name[fi]=Työpöytätehosteet
Name[fr]=Effets de bureau
Name[ia]=Effectos de scriptorio
Name[id]=Efek Desktop
Name[it]=Effetti del desktop
Name[ja]=デスクトップエフェクト
Name[ka]=სამუშაო მაგიდის ეფექტები
Name[ko]=데스크톱 효과
Name[nl]=Bureaubladeffecten
Name[nn]=Skrivebords­effektar
Name[pl]=Efekty pulpitu
Name[pt]=Efeitos do Ecrã
Name[pt_BR]=Efeitos da área de trabalho
Name[ro]=Efecte de birou
Name[ru]=Эффекты рабочего стола
Name[sk]=Efekty plochy
Name[sl]=Namizni učinki
Name[sv]=Skrivbordseffekter
Name[ta]=பணிமேடை அசைவூட்டங்கள்
Name[tr]=Masaüstü Efektleri
Name[uk]=Ефекти стільниці
Name[vi]=Hiệu ứng bàn làm việc
Name[x-test]=xxDesktop Effectsxx
Name[zh_CN]=桌面特效
Name[zh_TW]=桌面效果
