[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
Exec=systemsettings kcm_kwintabbox
Icon=preferences-system-tabbox
Name=Task Switcher
Name[ar]=مبدّل المهام
Name[az]=Tapşırıq dəyişdirici
Name[be]=Сродак пераключэння задач
Name[bg]=Превключване на задачи
Name[ca@valencia]=Commutador de tasques
Name[ca]=Commutador de tasques
Name[cs]=Přepínač úloh
Name[de]=Anwendungsumschalter
Name[en_GB]=Task Switcher
Name[es]=Selector de tareas
Name[et]=Ülesannete vahetaja
Name[eu]=Ataza-trukatzailea
Name[fi]=Tehtävävaihto
Name[fr]=Sélecteur de tâches
Name[ia]=Commutator de carga
Name[id]=Pengalih Tugas
Name[it]=Selettore delle attività
Name[ja]=タスクスイッチャー
Name[ka]=ამოცანების გადამრთველი
Name[ko]=작업 전환기
Name[nl]=Taakschakelaar
Name[nn]=Oppgåve­vekslar
Name[pl]=Przełącznik zadań
Name[pt]=Selector de Tarefas
Name[pt_BR]=Seletor de tarefas
Name[ro]=Comutator de sarcini
Name[ru]=Переключение окон
Name[sk]=Prepínač úloh
Name[sl]=Preklopnik opravil
Name[sv]=Aktivitetsbyte
Name[ta]=பணி மாற்றி
Name[tr]=Görev Değiştirici
Name[uk]=Перемикання задач
Name[vi]=Trình chuyển tác vụ
Name[x-test]=xxTask Switcherxx
Name[zh_CN]=任务切换器
Name[zh_TW]=工作切換器
