[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
Exec=systemsettings kcm_printer_manager
Icon=preferences-devices-printer
Name=Printers
Name[ar]=الطّابعات
Name[az]=Printerlər
Name[be]=Прынтары
Name[bg]=Принтери
Name[bs]=Štampači
Name[ca@valencia]=Impressores
Name[ca]=Impressores
Name[cs]=Tiskárny
Name[da]=Printere
Name[de]=Drucker
Name[el]=Εκτυπωτές
Name[en_GB]=Printers
Name[eo]=Printiloj
Name[es]=Impresoras
Name[et]=Printerid
Name[eu]=Inprimagailuak
Name[fi]=Tulostimet
Name[fr]=Imprimantes
Name[ga]=Printéirí
Name[gl]=Impresoras
Name[hu]=Nyomtatók
Name[ia]=Imprimitores
Name[id]=Printer
Name[is]=Prentarar
Name[it]=Stampanti
Name[ja]=プリンタ
Name[ka]=პრინტერები
Name[kk]=Принтерлер
Name[km]=ម៉ាស៊ីន​បោះពុម្ព
Name[ko]=프린터
Name[lt]=Spausdintuvai
Name[mai]=मुद्रक
Name[mr]=छपाईयंत्रे
Name[nb]=Skrivere
Name[nds]=Druckers
Name[nl]=Printers
Name[nn]=Skrivarar
Name[oc]=Estampairas
Name[pa]=ਪਰਿੰਟਰ
Name[pl]=Drukarki
Name[pt]=Impressoras
Name[pt_BR]=Impressoras
Name[ro]=Imprimante
Name[ru]=Принтеры
Name[sk]=Tlačiarne
Name[sl]=Tiskalniki
Name[sr@ijekavian]=Штампачи
Name[sr@ijekavianlatin]=Štampači
Name[sr@latin]=Štampači
Name[sr]=Штампачи
Name[sv]=Skrivare
Name[ta]=அச்சுப்பொறிகள்
Name[tg]=Принтерҳо
Name[tr]=Yazıcılar
Name[ug]=پرىنتېرلار
Name[uk]=Принтери
Name[x-test]=xxPrintersxx
Name[zh_CN]=打印机
Name[zh_TW]=印表機
