[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
Exec=systemsettings kcm_kscreen
Icon=preferences-desktop-display-randr
Name=Display Configuration
Name[ar]=ضبط العرض
Name[az]=Ekran ayarları
Name[bg]=Конфигурация на екрана
Name[ca@valencia]=Configureu les pantalles
Name[ca]=Configuració de les pantalles
Name[cs]=Nastavení zobrazení
Name[de]=Anzeige-Einrichtung
Name[en_GB]=Display Configuration
Name[es]=Configuración de la pantalla
Name[eu]=Bistaratze konfigurazioa
Name[fi]=Näyttöasetukset
Name[fr]=Configuration de l'affichage
Name[gl]=Configuración de pantalla
Name[ia]=Configuration  de monstrator
Name[it]=Configurazione dello schermo
Name[ja]=ディスプレイの設定
Name[ka]=ეკრანის მორგება
Name[ko]=디스플레이 설정
Name[nl]=Configuratie van het scherm
Name[nn]=Skjerm­oppsett
Name[pl]=Ustawienia wyświetlania
Name[pt]=Configuração do Ecrã
Name[pt_BR]=Configurações da tela
Name[ru]=Настройка экранов
Name[sk]=Nastavenie obrazovky
Name[sl]=Prikaži konfiguracijo
Name[sv]=Inställning av bildskärm
Name[tr]=Ekran Yapılandırması
Name[uk]=Налаштування дисплея
Name[x-test]=xxDisplay Configurationxx
Name[zh_CN]=显示器配置
Name[zh_TW]=顯示器設定
