[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
Exec=systemsettings kcm_powerdevilprofilesconfig
Icon=preferences-system-power-management
Name=Energy Saving
Name[ar]=حِفظ الطاقة
Name[az]=Enerjiyə Qənaət
Name[be]=Захаванне энергіі
Name[bg]=Пестене на енергия
Name[bs]=Štednja energije
Name[ca@valencia]=Estalvi d'energia
Name[ca]=Estalvi d'energia
Name[cs]=Úsporný režim
Name[da]=Strømbesparelse
Name[de]=Energiesparmodus
Name[el]=Εξοικονόμηση ενέργειας
Name[en_GB]=Energy Saving
Name[es]=Ahorro de energía
Name[et]=Energia säästmine
Name[eu]=Energia-aurreztea
Name[fi]=Virransäästö
Name[fr]=Économie d'énergie
Name[gl]=Aforro enerxético
Name[he]=חסכון באנרגיה
Name[hu]=Energiatakarékosság
Name[ia]=Sparnio de energia
Name[id]=Hemat Energi
Name[it]=Risparmio energetico
Name[ja]=省エネルギー
Name[ka]=ენერგიის შენახვა
Name[ko]=에너지 절약
Name[lt]=Energijos taupymas
Name[nb]=Strømsparing
Name[nds]=Stroomsporen
Name[nl]=Energiebesparing
Name[nn]=Straum­sparing
Name[pa]=ਊਰਜਾ ਬੱਚਤ
Name[pl]=Oszczędzanie energii
Name[pt]=Poupança de Energia
Name[pt_BR]=Economia de energia
Name[ro]=Economisire energie
Name[ru]=Энергосбережение
Name[sk]=Šetrenie energie
Name[sl]=Varčevanje z energijo
Name[sr@ijekavian]=Штедња енергије
Name[sr@ijekavianlatin]=Štednja energije
Name[sr@latin]=Štednja energije
Name[sr]=Штедња енергије
Name[sv]=Strömsparhantering
Name[ta]=ஆற்றல் சேமிப்பு
Name[tg]=Сарфаи барқ
Name[tr]=Güç Tasarrufu
Name[uk]=Заощадження енергії
Name[x-test]=xxEnergy Savingxx
Name[zh_CN]=节能
Name[zh_TW]=省電模式
