[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
Exec=systemsettings kwincompositing
Icon=preferences-desktop
Name=Compositor
Name[ar]=المركب
Name[az]=Düzücü vasitəsi
Name[be]=Сродак кампазітынгу
Name[bg]=Композитор на визуални ефекти
Name[ca@valencia]=Compositor
Name[ca]=Compositor
Name[cs]=Kompozitor
Name[de]=Compositor
Name[en_GB]=Compositor
Name[es]=Compositor
Name[et]=Komposiitor
Name[eu]=Konposatzailea
Name[fi]=Koostin
Name[fr]=Compositeur
Name[ia]=Compositor
Name[id]=Kompositor
Name[it]=Compositore
Name[ja]=コンポジタ
Name[ka]=კომპოზიტორი
Name[ko]=컴포지터
Name[nl]=Compositor
Name[nn]=Samansetjar
Name[pl]=Kompozytor
Name[pt]=Compositor
Name[pt_BR]=Compositor
Name[ro]=Compozitor
Name[ru]=Обеспечение эффектов
Name[sk]=Kompozítor
Name[sl]=Upravljalnik skladnje
Name[sv]=Sammansättning
Name[ta]=சாளரநிரல்
Name[tr]=Bileşikleştirici
Name[uk]=Засіб композиції
Name[vi]=Trình kết hợp
Name[x-test]=xxCompositorxx
Name[zh_CN]=显示特效合成器
Name[zh_TW]=合成器
