[Desktop Entry]
Name=Pidgin
Name[af]=Pidgin
Name[ar]=بِدْجِن
Name[as]=Pidgin
Name[be@latin]=Pidgin
Name[bn]=পিজিন
Name[bn_IN]=Pidgin
Name[br]=Pidgin
Name[brx]=पिडजिन
Name[ca]=Pidgin
Name[ca@valencia]=Pidgin
Name[cs]=Pidgin
Name[da]=Pidgin
Name[de]=Pidgin
Name[el]=Pidgin
Name[en_AU]=Pidgin
Name[en_GB]=Pidgin
Name[eo]=Piĝin
Name[es]=Pidgin
Name[es_AR]=Pidgin
Name[et]=Pidgin
Name[eu]=Pidgin
Name[fi]=Pidgin
Name[fr]=Pidgin
Name[ga]=Pidgin
Name[gl]=Pidgin
Name[gu]=Pidgin
Name[he]=פידג׳ין
Name[hi]=पिजिन
Name[hu]=Pidgin
Name[id]=Pidgin
Name[it]=Pidgin
Name[ja]=Pidgin
Name[km]=Pidgin
Name[kn]=ಪಿಜಿನ್
Name[lt]=Pidgin
Name[lv]=Pidgin
Name[mai]=पिजिन
Name[mhr]=Pidgin
Name[mk]=Pidgin
Name[ml]=പിഡ്ഗിന്‍
Name[mn]=Пизин
Name[mr]=Pidgin
Name[my_MM]=Pidgin
Name[nb]=Pidgin
Name[ne]=पिड्जिन
Name[nl]=Pidgin
Name[nn]=Pidgin
Name[oc]=Pidgin
Name[or]=Pidgin
Name[pa]=ਪਿਡਗਿਨ
Name[pl]=Pidgin
Name[pt]=Pidgin
Name[pt_BR]=Pidgin
Name[ro]=Pidgin
Name[ru]=Pidgin
Name[sk]=Pidgin
Name[sl]=Pidgin
Name[sq]=Pidgin
Name[sr]=Пиџин
Name[sr@latin]=Pidžin
Name[sv]=Pidgin
Name[ta]=பிட்ஜின்
Name[te]=పిడ్గిన్
Name[tr]=Pidgin
Name[uk]=Pidgin
Name[vi]=Pidgin
Name[zh_CN]=Pidgin
Name[zh_HK]=Pidgin
Name[zh_TW]=Pidgin
GenericName=Internet Messenger
GenericName[af]=Internetboodskapper
GenericName[ar]=مرسال إنترنت
GenericName[as]=ইন্টাৰনেট মেসেঞ্জাৰ
GenericName[ast]=Mensaxeru d'enternet
GenericName[be@latin]=Internet-kamunikatar
GenericName[bg]=Бързи съобщения
GenericName[bn]=ইন্টারনেট বার্তাবাহক
GenericName[bn_IN]=ইন্টারনেট মেসেঞ্জার
GenericName[br]=Postelerezh Kenrouedad
GenericName[brx]=इन्टारनेट मेसेनजार
GenericName[ca]=Missatger d'Internet
GenericName[ca@valencia]=Missatger d'Internet
GenericName[cs]=Internet Messenger
GenericName[da]=Internetbeskeder
GenericName[de]=Internet-Sofortnachrichtendienst
GenericName[dz]=ཨིན་ཊར་ནེཊི་འཕྲིན་སྐྱེལ་པ།
GenericName[el]=Αποστολέας μηνυμάτων διαδικτύου
GenericName[en_AU]=Internet Messenger
GenericName[en_GB]=Internet Messenger
GenericName[eo]=Interreta Mesaĝilo
GenericName[es]=Cliente de mensajería de Internet
GenericName[es_AR]=Mensajero de Internet
GenericName[et]=Interneti sõnumivahetus
GenericName[eu]=Internet-Mezularia
GenericName[fa]=پیغام‌رسان اینترنتی
GenericName[fi]=Pikaviestin
GenericName[fr]=Messagerie internet
GenericName[ga]=Teachtaire Idirlín
GenericName[gl]=Mensaxería na Internet
GenericName[gu]=Internet Messenger
GenericName[he]=למסרים באינטרנט
GenericName[hi]=इंटरनेट मेसेंजर
GenericName[hu]=Azonnali üzenetküldés
GenericName[id]=Pengirim Pesan Internet
GenericName[it]=Internet Messenger
GenericName[ja]=インターネット・メッセンジャー
GenericName[km]=កម្មវិធី​ផ្ញើសារ​អ៊ីនធឺណិត
GenericName[kn]=ಇಂಟರ್ನೆಟ್ ಮೆಸ್ಸೆಂಜರ್ 
GenericName[ko]=인터넷 메신저
GenericName[ku]=Peyamnêra înternetê
GenericName[lt]=Pokalbiai internete
GenericName[lv]=Interneta ziņnesis
GenericName[mai]=इंटरनेट मेसेंजर
GenericName[mhr]=Писе каласымаш алмаш клиент
GenericName[mk]=Инстант пораки
GenericName[ml]=ഇന്റര്‍നെറ്റ് മെസഞ്ചര്‍
GenericName[mn]=Интернет Мессенжер
GenericName[mr]=इंटरनेट मेसेंजर
GenericName[ms_MY]=Pemesej Internet
GenericName[my_MM]=အင်တာနက် မစ်ဆင်းဂျာ -
GenericName[nb]=Lynmeldingsklient
GenericName[nl]=Internet Messenger
GenericName[nn]=Lynmeldingsklient
GenericName[oc]=Messatjariá instantanèa
GenericName[or]=ଇଣ୍ଟରନେଟ ସଂଦେଶବାହାକ
GenericName[pa]=ਇੰਟਰਨੈਟ ਮੈਸੰਜ਼ਰ
GenericName[pl]=Komunikator
GenericName[ps]=د انترنت زری
GenericName[pt]=Mensageiro Internet
GenericName[pt_BR]=Mensageiro da Internet
GenericName[ro]=Mesagerie instant
GenericName[ru]=Клиент обмена мгновенными сообщениями
GenericName[si]=අන්තර්ජාල පණිවිඩකරු
GenericName[sk]=Internetový komunikátor
GenericName[sl]=Spletni sel
GenericName[sq]=Lajmsjellës Internet
GenericName[sr]=Интернет писмоноша
GenericName[sr@latin]=Internet pismonoša
GenericName[sv]=Meddelandeklient
GenericName[ta]=இணையதள தூதுவர்
GenericName[te]=ఇంటర్నెట్ మెసెంజర్
GenericName[th]=โปรแกรมข้อความด่วน
GenericName[tr]=İnternet Mesajlaşma Aracı
GenericName[uk]=Спілкування миттєвими повідомленнями
GenericName[ur]=ا نٹرنیٹ میسینجر
GenericName[vi]=Tin Nhắn
GenericName[zh_CN]=互联网通讯程序
GenericName[zh_HK]=網絡即時通
GenericName[zh_TW]=網路即時通
X-GNOME-FullName=Pidgin Internet Messenger
X-GNOME-FullName[af]=Pidgin Internetboodskapper
X-GNOME-FullName[ar]=مرسال الإنترنت بِدْجِن
X-GNOME-FullName[as]=Pidgin ইন্টাৰনেট মেসেঞ্জাৰ
X-GNOME-FullName[ast]=Mensaxeru d'internet Pidgin
X-GNOME-FullName[be@latin]=Internet-kamunikatar Pidgin
X-GNOME-FullName[bn]=পিজিন ইন্টারনেট বার্তাবাহক
X-GNOME-FullName[bn_IN]=Pidgin ইন্টারনেট মেসেঞ্জার
X-GNOME-FullName[br]=Postelerezh Kenrouedad Pidgin
X-GNOME-FullName[brx]=पिडजिन इन्टारनेट मेसेनजार
X-GNOME-FullName[ca]=Missatger d'Internet Pidgin
X-GNOME-FullName[ca@valencia]=Missatger d'Internet Pidgin
X-GNOME-FullName[cs]=Pidgin Internet Messenger
X-GNOME-FullName[da]=Pidgin - Internetbeskeder
X-GNOME-FullName[de]=Pidgin Internet-Sofortnachrichtendienst
X-GNOME-FullName[el]=Αποστολέας μηνυμάτων διαδικτύου Pidgin
X-GNOME-FullName[en_AU]=Pidgin Internet Messenger
X-GNOME-FullName[en_GB]=Pidgin Internet Messenger
X-GNOME-FullName[eo]=Piĝin Interreta Mesaĝilo
X-GNOME-FullName[es]=Cliente de mensajería de Internet Pidgin
X-GNOME-FullName[es_AR]=Mensajero de Internet Pidgin
X-GNOME-FullName[et]=Pidgin, Interneti sõnumivahetus
X-GNOME-FullName[eu]=Pidgin Internet-Mezularia
X-GNOME-FullName[fa]=پیغام‌رسان اینترنتی پیجین
X-GNOME-FullName[fi]=Pidgin-pikaviestin
X-GNOME-FullName[fr]=Messagerie internet Pidgin
X-GNOME-FullName[ga]=Teachtaire Idirlín Pidgin
X-GNOME-FullName[gl]=Mensaxería na Internet de Pidgin
X-GNOME-FullName[gu]=Pidgin Internet Messenger
X-GNOME-FullName[he]=פידג׳ין למסרים באינטרנט
X-GNOME-FullName[hi]=पिडगिन इंटरनेट मैसेंजर
X-GNOME-FullName[hu]=Pidgin üzenetküldő
X-GNOME-FullName[id]=Pesan Internet Pidgin
X-GNOME-FullName[it]=Pidgin Internet Messenger
X-GNOME-FullName[ja]=Pidgin インターネット・メッセンジャー
X-GNOME-FullName[km]=កម្មវិធី​ផ្ញើសារ​អ៊ីនធឺណិត​របស់ Pidgin
X-GNOME-FullName[kn]=ಪಿಜಿನ್ ಇಂಟರ್ನೆಟ್ ಮೆಸೆಂಜರ್
X-GNOME-FullName[ko]=Pidgin 인터넷 메신저
X-GNOME-FullName[lt]=Pidgin pokalbiai internete
X-GNOME-FullName[lv]=Pidgin Interneta ziņnesis
X-GNOME-FullName[mai]=पिजिन इंटरनेट मेसेंजर
X-GNOME-FullName[mhr]=Pidgin писе каласымаш алмаш клиент
X-GNOME-FullName[mk]=Pidgin инстант пораки
X-GNOME-FullName[ml]=പിഡ്ഗിന്‍ ഇന്റര്‍നെറ്റ് മെസഞ്ചര്‍
X-GNOME-FullName[mn]=Пизин Интернет Мессенжер
X-GNOME-FullName[mr]=Pidgin इंटरनेट संदेशवाहक
X-GNOME-FullName[ms_MY]=Pemesej Internet Pidgin
X-GNOME-FullName[my_MM]=ပင်ဂျင်း အင်တာနက် မစ်ဆင်းဂျာ
X-GNOME-FullName[nb]=Pidgin lynmeldingsklient
X-GNOME-FullName[nl]=Pidgin Internet Messenger
X-GNOME-FullName[nn]=Pidgin Internett meldingsklient
X-GNOME-FullName[oc]=Messatjariá Internet Pidgin
X-GNOME-FullName[or]=ପିଜିନ୍ ଇଣ୍ଟରନେଟ ସଂଦେଶବାହକ
X-GNOME-FullName[pa]=ਪਿਡਗਿਨ ਇੰਟਰਨੈਟ ਮੈਸੰਜ਼ਰ
X-GNOME-FullName[pl]=Pidgin
X-GNOME-FullName[pt]=Mensageiro de Internet Pidgin
X-GNOME-FullName[pt_BR]=Mensageiro da Internet Pidgin
X-GNOME-FullName[ro]=Mesagerul Pidgin
X-GNOME-FullName[ru]=Клиент обмена мгновенными сообщениями Pidgin
X-GNOME-FullName[sk]=Internetový komunikátor Pidgin
X-GNOME-FullName[sl]=Spletni sel Pidgin
X-GNOME-FullName[sq]=Pidgin Internet Messenger
X-GNOME-FullName[sr]=Пиџин Интернет писмоноша
X-GNOME-FullName[sr@latin]=Pidžin Internet pismonoša
X-GNOME-FullName[sv]=Pidgin meddelandeklient
X-GNOME-FullName[ta]=Pidgin இணையத்தள மேலாளர்
X-GNOME-FullName[te]=పిడ్జిన్ ఇంటర్నెట్ మెసెంజర్
X-GNOME-FullName[tr]=Pidgin İnternet Mesajlaşma Aracı
X-GNOME-FullName[uk]=Клієнт обміну миттєвими повідомленнями Pidgin
X-GNOME-FullName[vi]=Tin Nhắn Pidgin
X-GNOME-FullName[zh_CN]=Pidgin 互联网通讯程序
X-GNOME-FullName[zh_HK]=Pidgin 網絡即時通
X-GNOME-FullName[zh_TW]=Pidgin 網路即時通
Comment=Chat over IM.  Supports XMPP, IRC, and more
Comment[cs]=Chatování pomocí IM. Podporuje XMPP, IRC a další
Comment[de]=Chatten Sie über IM. Unterstützt XMPP, IRC und mehr
Comment[pl]=Rozmawianie przez komunikator. Obsługuje sieci XMPP, IRC i nie tylko
Comment[ro]=Discutați prin IM.  Suportă XMPP, IRC și multe altele
Comment[sl]=Klepetajte prek neposrednih sporočil. Podpira XMPP, IRC in druge
Comment[sq]=Bisedoni përmes IM-së. Mbulon XMPP, IRC, etj
# TRANSLATORS: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords=chat;talk;im;message;bonjour;gadu-gadu;irc;groupwise;jabber;sametime;silc;simple;xmpp;zephyr
Keywords[cs]=chat;rozhovor;im;zpráva;bonjour;gadu-gadu;irc;groupwise;jabber;sametime;silc;simple;xmpp;zephyr
Keywords[de]=chat;talk;im;message;bonjour;gadu-gadu;irc;groupwise;jabber;sametime;silc;simple;xmpp;zephyr
Keywords[pl]=komunikator;czat;chat;rozmowa;rozmawianie;talk;im;wiadomość;message;bonjour;gadu-gadu;gadugadu;gg;irc;groupwise;jabber;sametime;silc;simple;xmpp;zephyr;
Keywords[ro]=chat;talk;im;message;bonjour;gadu-gadu;irc;groupwise;jabber;sametime;silc;simple;xmpp;zephyr
Keywords[sl]=klepet;pogovor;im;sporočanje;sporočilo;mesidž;bonjour;gadu-gadu;irc;groupwise;jabber;sametime;silc;simple;xmpp;zephyr
Keywords[sq]=fjalosje;bisedë;im;mesazh;bonjour;gadu-gadu;irc;groupwise;jabber;sametime;silc;simple;xmpp;zephyr;
Keywords[uk]=чат;балачка;повідомлення;bonjour;gadu-gadu;груповий;jabber;sametime;silc;simple;xmpp;zephyr
Exec=pidgin
Icon=pidgin
StartupNotify=true
Terminal=false
Type=Application
Categories=GTK;Network;InstantMessaging;

