[Desktop Entry]
Name[bg]=Визуализатор на TigerVNC
Name[cs]=Prohlížeč TigerVNC
Name[da]=TigerVNC-fremviser
Name[de]=TigerVNC-Betrachter
Name[el]=Θεατής TigerVNC
Name[eo]=Rigardilo TigerVNC
Name[es]=Visor TigerVNC
Name[fi]=TigerVNC-katselin
Name[fr]=Visionneuse TigerVNC
Name[fur]=Visualizadôr TigerVNC
Name[he]=המציג TigerVNC
Name[hu]=TigerVNC megjelenítő
Name[id]=Penampil TigerVNC
Name[ka]=TigerVNC-ის კლიენტი
Name[ko]=TigerVNC 뷰어
Name[nl]=TigerVNC-viewer
Name[pt_BR]=Visualizador TigerVNC
Name[ro]=Vizualizator TigerVNC
Name[ru]=TigerVNC Viewer
Name[sr]=Прегледач ТигарВНЦ
Name[sv]=VNC-visare
Name[tr]=TigerVNC Görüntüleyici
Name[uk]=Засіб перегляду TigerVNC
Name[vi]=Bộ xem TigerVNC
Name[zh_CN]=TigerVNC 查看器
Name[zh_TW]=TigerVNC 檢視器
Name=TigerVNC Viewer
GenericName[bg]=Визуализатор на отдалечени работни места
GenericName[cs]=Prohlížeč vzdálené plochy
GenericName[da]=Ekstern skrivebordsviser
GenericName[de]=Betrachter für ferne Bildschirme
GenericName[el]=Θεατής απομακρυσμένης επιφάνειας εργασίας
GenericName[eo]=Defora Labortabla Rigardilo
GenericName[es]=Visor de Escritorio Remoto
GenericName[fi]=Etätyöpöytäkatselin
GenericName[fr]=Visionneuse de bureau à distance
GenericName[fur]=Visualizadôr di scritori lontan
GenericName[he]=מציג שולחנות עבודה מרוחקים
GenericName[hu]=Távoli asztal megjelenítő
GenericName[id]=Penampil Desktop Jarak Jauh
GenericName[ka]=დაშორებული სამუშაო მაგიდის სერვერის კლიენტი
GenericName[ko]=원격 데스크톱 뷰어
GenericName[pt_BR]=Visualização de área de trabalho remota
GenericName[ro]=Vizualizator pentru birou la distanță
GenericName[ru]=Просмотр удалённых рабочих столов
GenericName[sr]=Прегледач удаљених радних површи
GenericName[sv]=Fjärrskrivbordsvisare
GenericName[uk]=Засіб перегляду віддаленої стільниці
GenericName[vi]=Trình xem màn hình từ xa
GenericName[zh_TW]=遠端桌面檢視器
GenericName=Remote Desktop Viewer
Comment[bg]=Свързване към сървър за VNC и визуализация на отдалечено работно място
Comment[cs]=Připojí se k severu VNC a zobrazí vzdálenou plochu
Comment[da]=Forbind til VNC-server og vis eksternt skrivebord
Comment[de]=Mite einem VNC-Server verbinden und einen fernen Desktop anzeigen
Comment[el]=Σύνδεση σε ένα εξυπηρετητή VNC και εμφάνιση του απομακρυσμένου επιφάνειας εργασίας
Comment[eo]=Konekti al servilo VNC kaj montrigi deforan labortablon
Comment[es]=Conecta al servidor VNC y muestra el escritorio remoto
Comment[fi]=Yhdistä VNC-palvelimeen ja näytä etätyöpöytä
Comment[fr]=Se connecter à un serveur VNC et afficher le bureau à distance
Comment[fur]=Conet a un servidôr VNC e visualize il scritori lontan
Comment[he]=התחברות לשרת VNC והצגת שולחן עבודה מרוחק
Comment[hu]=Kapcsolódás VNC-kiszolgálóhoz és távoli asztal megjelenítése
Comment[id]=Sambungkan ke server VNC dan tampilkan desktop jarak jauh
Comment[ko]=VNC 서버와 연결하고 원격 데스크톱을 보입니다
Comment[pt_BR]=Conecte a um servidor VNC e exiba a área de trabalho remota
Comment[ro]=Se conectează la serverul VNC și afișează biroul de la distanță
Comment[ru]=Подключиться к серверу VNC и показать удалённый рабочий стол
Comment[sr]=Повежите се на ВНЦ сервер и прикажите удаљену радну површ
Comment[sv]=Anslut till en VNC-server och visa ett fjärrskrivbord
Comment[uk]=З'єднання із сервером VNC і показ віддаленої стільниці
Comment[vi]=Kết nối đến máy phục vụ VNC và hiển thị màn hình từ xa
Comment[zh_TW]=連線到 VNC 伺服器並顯示遠端桌面
Comment=Connect to VNC server and display remote desktop
Exec=/usr/bin/vncviewer
Icon=tigervnc
Terminal=false
Type=Application
StartupWMClass=TigerVNC Viewer: Connection Details
Categories=Network;RemoteAccess;
