[Desktop Entry]
Name=Xfce Screensaver
Name[bg]=Предпазител на екрана на Xfce
Name[de]=Xfce Bildschirmschoner
Name[fr]=Économiseur d’écran de Xfce
Name[it]=Xfce Screensaver
Name[ja]=Xfce Screensaver
Name[lt]=Xfce ekrano užsklanda
Name[nl]=Xfce-schermbeveiliging
Name[pl]=Wygaszacz ekranu Xfce
Name[pt]=Proteção de ecrã do Xfce
Name[ru]=Хранитель экрана Xfce
Name[sq]=Ekrankursyes Xfce
Name[sr]=Чувар заслона ИксФЦЕ-а
Name[zh_CN]=Xfce 屏幕保护程序
Name[zh_TW]=Xfce 螢幕保護程式
Comment=Set your xfce4-screensaver preferences
GenericName=Xfce Screensaver
GenericName[bg]=Предпазител на екрана на Xfce
GenericName[de]=Xfce Bildschirmschoner
GenericName[fr]=Économiseur d’écran de Xfce
GenericName[it]=Xfce Screensaver
GenericName[ja]=Xfce Screensaver
GenericName[lt]=Xfce ekrano užsklanda
GenericName[nl]=Xfce-schermbeveiliging
GenericName[pl]=Wygaszacz ekranu Xfce
GenericName[pt]=Proteção de ecrã do Xfce
GenericName[ru]=Хранитель экрана Xfce
GenericName[sq]=Ekrankursyes Xfce
GenericName[sr]=Чувар заслона ИксФЦЕ-а
GenericName[zh_CN]=Xfce 屏幕保护程序
GenericName[zh_TW]=Xfce 螢幕保護程式
Icon=org.xfce.ScreenSaver
Exec=xfce4-screensaver-preferences
Terminal=false
Type=Application
Categories=GTK;Settings;DesktopSettings;X-XFCE-PersonalSettings;X-XFCE-SettingsDialog;
OnlyShowIn=XFCE;
StartupNotify=true
X-XFCE-Bugzilla-Bugzilla=XFCE
X-XFCE-Bugzilla-Product=xfce4-screensaver
X-XFCE-Bugzilla-Component=general
X-XfcePluggable=true
X-XfceHelpPage=screensaver
