[Desktop Entry]
Name=xsnow
# xsnow-3.7.5
Comment=Snow, Santa and birds on your desktop
Exec=xsnow
Icon=xsnow
Type=Application
Categories=Game;Simulation
Terminal=false
Name[en_US]=xsnow
Keywords=christmas;santa;snow;xmas
Version=1.0
StartupNotify=true
Actions=start;nomenu;

[Desktop Action start]
Name=Start xsnow
Exec=xsnow

[Desktop Action nomenu]
Name=Start without menu
Exec=xsnow -hidemenu
